/*PORTFOLIO*/

.portfolio {
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(rgb(0, 0, 0) 0, rgba(15, 15, 15, 0.41) 0);
  color: rgba(241, 246, 249, 0.77);
  font-family: 'Amiri', serif;
}

/*COMPETENCES*/

.competences {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/*GRID LIST*/

.grid-list {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.soustitre {
  color: rgb(217, 216, 204);
  font-size: 1.2em;
  font-weight: bold;
  font-style: italic;
}

.soustitre:hover {
  color: white;
}

.projet-image {
  height: 100%;
  width: 100%;
  border-radius: 30px;
  border: 2px solid black;
}

/*TABLET*/

/*PORTFOLIO*/

.tablet-portfolio {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(rgb(0, 0, 0) 0, rgba(15, 15, 15, 0.41) 0);
  color: rgba(241, 246, 249, 0.77);
  font-family: 'Amiri', serif;
}

/*COMPETENCES*/

.tablet-competences {
  height: 100%;
  display: flex;
  align-items: center;
}
.tablet-text-competences {
  text-align: left;
  font-size: 1.5em;
}
/*GRID LIST*/

.tablet-grid-list {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/*MOBILE*/

/*PORTFOLIO*/

.mobile-presentation {
  text-align: left;
}

.mobile-portfolio {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(rgb(0, 0, 0) 0, rgba(15, 15, 15, 0.41) 0);
  color: rgba(241, 246, 249, 0.77);
  font-family: 'Amiri', serif;
}
/*COMPETENCES*/

.mobile-competences {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*GRID LIST*/

.mobile-grid-list {
  display: flex;
  flex-direction: column;
  text-align: center;
}
