/*HOME*/

.home {
  height: 90vh;
  color: white;
  padding: 1em;
  display: flex;
  align-items: center;
  font-family: 'Amiri', serif;
  background-image: linear-gradient(rgb(0, 0, 0) 0, rgba(15, 15, 15, 0.41) 0);
}

/*PHOTO*/

#photo {
  height: 15em;
  border: 1px solid white;
  border-radius: 50%;
}

/*HOME - RESEAUX*/

.home .fa {
  margin: 0.3em;
  color: white;
}

.home .fa:hover {
  color: #FF4081;
}

/*PRESENTATION*/

.presentation {
  color: white;
  line-height: 2em;
  font-size: 1.8em;
}

.presentation div {
  margin: 2em;
}

.simplon {
  color: black;
  font-weight: bold;
}

.simplon:hover {
  color: white;
}

/*TABLET*/

.tablet-home {
  min-height: 90vh;
  color: white;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Amiri', serif;
  background-image: linear-gradient(rgb(0, 0, 0) 0, rgba(15, 15, 15, 0.41) 0);
}

/*HOME - RESEAUX*/

.tablet-home .fa {
  margin: 0.3em;
  color: white;
}

.tablet-home .fa:hover {
  color: #FF4081;
}


/*MOBILE*/

.mobile-home {
  min-height: 90vh;
  color: white;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Amiri', serif;
  background-image: linear-gradient(rgb(0, 0, 0) 0, rgba(15, 15, 15, 0.41) 0);
}

/*HOME - RESEAUX*/

.mobile-home .fa {
  margin: 0.3em;
  color: white;
}

.mobile-home .fa:hover {
  color: #FF4081;
}

/*PRESENTATION*/

.mobile-presentation {
  color: white;
  font-size: 1.5em;
  text-align: left;
}

.mobile-presentation div {
  margin: 2em;
}
