/*fonts*/
@import url('https://fonts.googleapis.com/css?family=Amiri|Reenie+Beanie');

body {
  text-align: center;
}

/*ACCUEIL*/

/*Video*/

#background-video {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: -1;
}

/*Home*/

.navigation {
  height: 10vh;
  background-image: linear-gradient(rgb(0, 0, 0) 0, rgba(15, 15, 15, 0.21) 0);
}

.home {
  height: 90vh;
  color: white;
  padding: 1em;
  display: flex;
  align-items: center;
  font-family: 'Amiri', serif;
  background-image: linear-gradient(rgb(0, 0, 0) 0, rgba(15, 15, 15, 0.21) 0);
}
.bienvenu {
  margin-bottom: 10em;
}

/*Photo*/

#photo {
  height: 15em;
  border: 1px solid white;
  border-radius: 50%;
}

/*Presentation*/

.presentation {
  color: white;
  line-height: 2em;
  font-size: 1.4em;
}

.presentation div {
  margin: 2em;
}
.simplon {
  color: black;
  font-weight: bold;
}
.simplon:hover {
  color: white;
}
/*Réseaux*/

.home .fa {
  margin: 0.3em;
  color: white;
}
.home .fa:hover {
  color: #FF4081;
}

/*PORTFOLIO*/

.grid-list {
}

.soustitre {
  color: black;
  font-size: 1.2em;
  font-weight: bold;
  font-style: italic;
}
.soustitre:hover {
  color: white;
}

/*CONTACT*/

.contact {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  color: white;
  background-image: linear-gradient(rgb(0, 0, 0) 0, rgba(15, 15, 15, 0.21) 0);
}
.contact-title {
  margin-bottom: 2.5em;
  font-family: 'Reenie Beanie', cursive;
  font-size: 3em;
}
.contact-input {
  margin: 1.5em;
}
.contact-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
.contact-list-items {
  display: flex;
  align-items: center;
  font-family: 'Amiri', serif;
}
.contact .fa {
  margin: 0.3em;
}
